@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Ubuntu:wght@300&display=swap');
html, body {
  height: 100%;
  width: 100%;
  font-family: 'Roboto', sans-serif; 
}
*{
    background-color: rgb(156, 7, 7);
}
.button{
  width: 66px;
  padding: 20px;
  margin: 0 3px;
  border: 2px solid black;
  border-radius: 9px;
  cursor: pointer;
  background-color: white;
}

.row{
  margin: 8px 0;
  background-color: black;
}
.row input{
  width: 291px;
  background-color: green;
  font-size: 20px;
    margin: 0;
    padding: 10px 0px;
    border: 2px solid black;
    border-radius: 5px;
}
.container{
    background-color: black;
    border-radius: 9px;
    bottom:200px;
    left:655px;
    border: 2px solid black;
    width:310px;
}